# Das Diet-Problem

Open in Colab: [![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/febse/opt2025-de/blob/main/LP-Diet.ipynb)


## Problemstellung

Das Ziel des Diet-Problems ist es, Mengen von Lebensmitteln zu finden, die die täglichen Ernährungsbedürfnisse eines Menschen erfüllen, wobei die Kosten minimiert werden. Der Datensatz
`dt` enthält die Nährstoffinformationen und die Kosten für 6 Lebensmittel. In diesem kleinen Beispiel werden wir die täglichen Ernährungsbedürfnisse eines Menschen in Bezug auf die Nährstoffe Protein, Calcium, Eisen und Vitamin C betrachten.

In [1]:
import pandas as pd
import gurobipy as gp
from gurobipy import GRB

# Create the DataFrame
df = pd.DataFrame( {
    "Food": ["Oatmeals", "Chicken", "Eggs", "Milk", "Cherry pie", "Pork with beans"],
    "Порция": ["28 g", "100 g", "two", "237 ml", "170 g", "260 g"],
    "Calories": [110, 205, 160, 160, 420, 260],
    "Protein": [4, 32, 13, 8, 4, 14],
    "Calcium": [2, 12, 54, 285, 22, 80],
    "Price": [3, 24, 13, 9, 20, 19],
    "Max": [4, 4, 4, 4, 4, 4]
}).set_index("Food")

# Display the DataFrame
df

                 Порция  Calories  Protein  Calcium  Price  Max
Food
Oatmeals           28 g       110        4        2      3    4
Chicken           100 g       205       32       12     24    4
Eggs                two       160       13       54     13    4
Milk             237 ml       160        8      285      9    4
Cherry pie        170 g       420        4       22     20    4
Pork with beans   260 g       260       14       80     19    4

In [2]:
req = pd.Series([2500, 80, 8], index=["Calories", "Protein", "Calcium"])
req

Calories    2500
Protein       80
Calcium        8
dtype: int64

In [3]:
m = gp.Model("diet-1")

# Entscheidungsvariablen

# x = m.addVars(..., ..., name="x")

# Zielfunktion

# m.setObjective(..., GRB.MINIMIZE)

# Bedingungen

# m.addConstr(..., "Calories")
# m.addConstr(..., "Protein")
# m.addConstr(..., "Calcium")

# m.optimize()

# DataFrame mit den Ergebnissen

# df["Optimal"] = [v.x for v in x.values()]
# df[["Optimal", "Price", "Calories"]]

Restricted license - for non-production use only - expires 2026-11-23

## Neu Zealand Diet Problem

Der Datensatz `df` enthält die Kosten und die Nährstoffeigenschaften (ca. 140) von 883 Lebensmitteln in Neu Zealand (Quelle: <https://doi.org/10.1093/cdn/nzab132>)

- `ID`: Eindeutiger Identifikator des Lebensmittels
- `Name`: Name des Lebensmittels
- `Group`: Gruppe, zu der das Lebensmittel gehört
- `Cost`: Die Kosten per 100g des Lebensmittels
- `Amount`: Die maximal zu konsumierende Menge des Lebensmittels (in 100 g)
- `Dry matter`: Trockensubstanz des Lebensmittels (in g)
- `Energy, total metabolisable (kJ)`
- `Fat, total`: Gesamtfettgehalt des Lebensmittels (in g)
- `Protein, total; calculated from total nitrogen` (in g)
- `Total carbohydrates by summation` (in g)
- Sonstige Charakteristiken

Der Datensatz `reqs` enthält Ernährungsanforderungen für einen durchschnittlichen Erwachsenen.

In [4]:
# Einlesen der Lebensmittel-Daten

df = pd.read_csv('https://raw.githubusercontent.com/febse/data/refs/heads/main/opt/NZFoods.csv').set_index('ID')
df.head()

,Source,Group,SubGroup,Cost,Amount,Chapter,Name,Description,Alanine,Alpha-carotene,...,"Vitamin A, retinol equivalents",Vitamin B12,Vitamin B6,Vitamin C,Vitamin D; calculated by summation,"Vitamin E, alpha-tocopherol equivalents",Vitamin K,Water,Zeaxanthin,Zinc
ID,,,,,,,,,,,,,,,,,,,,,
M1170,Animal,Beef,Beef blade,2.042333,1.0,M,"Beef, forequarter bolar, separable lean & fat,...","Beef, forequarter bolar, separable lean & fat,...",1505.04,0.0,...,15.95,1.53,0.18,0.0,0.23,0.83,0.0,57.57,0.0,5.93
M1154,Animal,Beef,Beef blade,2.042333,1.0,M,"Beef, forequarter bolar, separable lean & fat,...","Beef, forequarter bolar, separable lean & fat,...",1036.61,0.0,...,8.88,1.71,0.32,0.0,0.14,0.45,0.0,70.26,0.0,3.46
M1069,Animal,Beef,Beef blade,2.042333,1.0,M,"Beef, forequarter bolar, separable lean, braised","Beef, forequarter bolar, separable lean, braised",1627.87,0.0,...,13.49,1.65,0.19,0.0,0.21,0.76,0.0,60.46,0.0,6.38
M1044,Animal,Beef,Beef blade,2.042333,1.0,M,"Beef, forequarter bolar, separable lean, raw","Beef, forequarter bolar, separable lean, raw",1072.58,0.0,...,6.25,1.80,0.33,0.0,0.13,0.40,0.0,73.11,0.0,3.63
M1171,Animal,Beef,Beef blade,2.042333,1.0,M,"Beef, forequarter brisket navel end, separable...","Beef, forequarter brisket navel end, separable...",870.80,0.0,...,27.91,0.84,0.09,0.0,0.31,1.11,0.0,42.28,0.0,3.70

In [5]:
# Einlesen der Ernährungsrichtlinien

reqs = pd.read_csv('https://raw.githubusercontent.com/febse/data/refs/heads/main/opt/NZPersonReq.csv')
reqs.head()

,Alanine,Alpha-carotene,Alpha-tocopherol,Arginine,Asparagine,Available carbohydrate by difference,Beta-carotene,Beta-carotene equivalents,Beta-tocopherol,Beta-tocopherol + Gamma-tocopherol,...,"Vitamin A, retinol equivalents",Vitamin B12,Vitamin B6,Vitamin C,Vitamin D; calculated by summation,"Vitamin E, alpha-tocopherol equivalents",Vitamin K,Water,Zeaxanthin,Zinc
0,0,0,0,0,0,0,0,0,0,0,...,800,2.400000e+00,1.3,45,5,8.5,65,0,0,11
1,99999999999,99999999999,99999999999,99999999999,99999999999,99999999999,99999999999,99999999999,99999999999,99999999999,...,3000,1.000000e+11,50.0,1000,80,300.0,99999999999,99999999999,99999999999,40

In [6]:
# Zugriff auf die Daten für ein bestimmtes Lebensmittel

df.loc["M1170"]

Source                                          Animal
Group                                             Beef
SubGroup                                   Beef blade
Cost                                          2.042333
Amount                                             1.0
                                              ...
Vitamin E, alpha-tocopherol equivalents           0.83
Vitamin K                                          0.0
Water                                            57.57
Zeaxanthin                                         0.0
Zinc                                              5.93
Name: M1170, Length: 145, dtype: object

In [7]:
m = gp.Model("Diet")
    
# Entscheidungsvariablen (ID der Lebensmittel)

# x = m.addVars(...)

# Zielfunktion

# obj = m.setObjective(...)

# Einschränkungen

# for col in reqs.columns:
#     m.addConstr(...)
#     m.addConstr(...)

# m.write("Diet.lp")
# with open("Diet.lp") as f:
#     print(f.read())

# m.optimize()

In [8]:
# Hier speichern wir die Lösung in der Spalte "Optimal" des DataFrames mit den Lebensmittel-Daten

# df["Optimal"] = [x[i].x for i in df.index]

# Das Menü anzeigen
# - Zuerst werden die Lebensmittel angezeigt, die in der optimalen Lösung enthalten sind
# - Dann werden nur die Spalten "Name", "Group", "Optimal", "Amount" und "Cost" angezeigt

# df[df["Optimal"] > 0][["Name", "Group", "Optimal", "Amount", "Cost"]]

In [9]:
# Analyse der Lösung

# df["EnergyOptimal"] = df["Energy, total metabolisable (kJ)"] * df["Optimal"]

# Die Fettmenge in der optimalen Lösung berechnen

# df["FatOptimal"] = df["Fat, total"] * df["Optimal"]

# Die Proteinmenge in der optimalen Lösung berechnen

# df["ProteinOptimal"] = df["Protein, total; calculated from total nitrogen"] * df["Optimal"]

# Die Kohlenhydratmenge in der optimalen Lösung berechnen

# df["CarbohydrateOptimal"] = df["Total carbohydrates by summation"] * df["Optimal"]

# df.aggregate({"EnergyOptimal": "sum", "FatOptimal": "sum", "ProteinOptimal": "sum", "CarbohydrateOptimal": "sum"})

In [10]:
# Einschränkungen anzeigen (nur die bindenden Restriktionen)

# constr_df = pd.DataFrame(
#     [(c.ConstrName, c.Sense, c.Slack, c.Pi, c.SARHSLow, c.SARHSUp) for c in m.getConstrs() if c.pi != 0],
#     columns=["Name", "Sense", "Slack", "Shadow", "Lower", "Upper"]
#     )
# constr_df