# Produktion und Distribution {#sec-production-distribution}

Open in Colab: [![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/febse/opt2025-de/blob/main/Production-Distribution.ipynb)

In diesem Beispiel werden wir ein einfaches Optimierungsmodell für ein Produktions- und Distributionsproblem formulieren. Wir stellen uns vor, dass wir ein Unternehmen beraten, das Backsteine herstellt. Das Unternehmen hat Produktionsstätten in Baltimore, Cleveland, Little Rock, Birmingham und Charleston. Die Produktion aus diesen Standorten wird an Vertriebszentren in Columbia, Indianapolis, Lexington, Nashville, Richmond und St. Louis geliefert.

Die Marketingabteilung des Unternehmens erstellt laufend Prognosen für die Nachfrage in jedem Vertriebszentrum und das Unternehmen versucht, seine Lieferkette so zu optimieren, dass die Nachfrage in jedem Vertriebszentrum erfüllt wird, während die Gesamtkosten für die Lieferkette minimiert werden. 

Die Transportkosten zwischen den Produktionsstätten und den Vertriebszentren sind bekannt und in @tbl-prod-distr-costs aufgeführt. Die prognostizierte Nachfrage in jedem Vertriebszentrum ist in @tbl-prod-distr-demand aufgeführt. 

Ferner sind die Produktionskapazitäten in den Produktionsstätten begrenzt, wie in @tbl-prod-distr-capacities angegeben. Ausserdem müssen aus technischen Gründen alle Produktionsstätten mindestens 70 Prozent ihrer maximalen Kapazität nutzen.

In [1]:
%pip install gurobipy

# Zuerst importieren wir pandas und gurobipy

import pandas as pd
import gurobipy as gp
from gurobipy import GRB

Requirement already satisfied: gurobipy in c:\users\boyko\.conda\envs\opt2025-de\lib\site-packages (12.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Dan laden wir den Datensatz mit den Transportkosten
transp_cost = pd.read_csv("https://raw.githubusercontent.com/febse/data/main/opt/tp_costs1.csv")

# Und lassen uns die ersten paar Zeilen ausdrucken
transp_cost.head()

  production  distribution  cost
0  Baltimore      Columbia  4.50
1  Baltimore  Indianapolis  5.09
2  Baltimore     Lexington  4.33
3  Baltimore     Nashville  5.96
4  Baltimore      Richmond  1.96

In [3]:
#| label: tbl-prod-distr-costs
#| tbl-cap: "Transportkosten in EUR pro Einheit zwischen Produktionsstätten und Vertriebszentren"

# Es ist leichter, wenn wir uns die Transportkosten in einer Tabelle ansehen, 
# in der die Zeilen die Produktionsstätten und die Spalten die Vertriebszentren sind.

transp_cost.pivot(index='production', columns='distribution', values='cost')

distribution,Columbia,Indianapolis,Lexington,Nashville,Richmond,St. Louis
production,,,,,,
Baltimore,4.50,5.09,4.33,5.96,1.96,7.30
Birmingham,3.33,4.33,3.38,1.53,5.95,4.01
Charleston,3.02,2.61,1.61,4.44,2.36,4.60
Cleveland,2.43,2.37,2.54,4.13,3.20,4.88
Little Rock,6.42,4.83,3.39,4.40,7.44,2.92

In [4]:
# Es wird einfacher sein (allerdings nicht notwendig), wenn wir
# den DataFrame mit den Kosten nach Produktionsstätten und Vertriebszentren
# indizieren. Das machen wir mit der Methode set_index.

tc = transp_cost.set_index(['production', 'distribution'])
tc

                          cost
production  distribution
Baltimore   Columbia      4.50
            Indianapolis  5.09
            Lexington     4.33
            Nashville     5.96
            Richmond      1.96
            St. Louis     7.30
Cleveland   Columbia      2.43
            Indianapolis  2.37
            Lexington     2.54
            Nashville     4.13
            Richmond      3.20
            St. Louis     4.88
Little Rock Columbia      6.42
            Indianapolis  4.83
            Lexington     3.39
            Nashville     4.40
            Richmond      7.44
            St. Louis     2.92
Birmingham  Columbia      3.33
            Indianapolis  4.33
            Lexington     3.38
            Nashville     1.53
            Richmond      5.95
            St. Louis     4.01
Charleston  Columbia      3.02
            Indianapolis  2.61
            Lexington     1.61
            Nashville     4.44
            Richmond      2.36
            St. Louis     4.60

In [7]:
#| label: tbl-prod-distr-demand

# Hier werden wir die Prognose für die Nachfrage in den Vertriebszentren
# eingeben

distribution = tc.index.levels[1]
n_demand = pd.Series([89,95,121,101,116,181], index = distribution, name = "demand") 

n_demand.to_frame()

              demand
distribution
Columbia          89
Indianapolis      95
Lexington        121
Nashville        101
Richmond         116
St. Louis        181

In [ ]:
#| label: tbl-prod-distr-capacities
#| tbl-cap: "Kapazitäten der Produktionsstätten"

production = tc.index.levels[0]
max_prod = pd.Series([180, 200, 140, 80, 180], index = production, name = "max_production")

max_prod

production
Baltimore      180
Birmingham     200
Charleston     140
Cleveland       80
Little Rock    180
Name: max_production, dtype: int64

:

## Das Modell

### Mengen

### Parameter

### Entscheidungsvariablen

### Zielfunktion

### Einschränkungen

In [ ]:
# Umsetzung

m = gp.Model("Production and Distribution")

# Entscheidungsvariablen

# Zielfunktion

# Einschränkungen

m.write("production-distribution.lp")

with open("production-distribution.lp", "r") as f:
    print(f.read())

Restricted license - for non-production use only - expires 2026-11-23
\ Model Production and Distribution
\ LP format - for model browsing. Use MPS format to capture full model detail.
Minimize

Subject To
Bounds
End