# Python Basics

## Datentypen und Datencontainer

In [1]:
%pip install -q otter-grader

import pandas as pd
import numpy as np
%matplotlib inline
import otter
grader = otter.Notebook("basics.ipynb")

Note: you may need to restart the kernel to use updated packages.

**Aufgabe 1:** Erstellen Sie zwei Variablen `income_person1` und `income_person2` und weisen Sie ihnen die Werte 100 und 80 zu.

In [2]:
income_person1 = 100
income_person2 = 80

In [3]:
grader.check("q1")

q1 results: All test cases passed!

**Aufgabe 2:** Im Folgenden werden zwei Variablen `a` und `b` definiert. Berechnen Sie den Mittelwert der beiden Variablen und speichern Sie das Ergebnis in der Variable `mean_ab`. Benutzen Sie dabei nur Addition (`+`) und Division (`/`).

In [4]:
a = 123
b = 55

mean_ab = (a + b) / 2
mean_ab

89.0

In [5]:
grader.check("q2")

q2 results: All test cases passed!

**Aufgabe 3:** Wie viel ist 3.12 hoch 8? Berechnen Sie das Ergebnis und speichern Sie es in der Variable `result`.

In [6]:
result = 3.12 ** 8
result

8979.181539709003

In [7]:
grader.check("q3")

q3 results: All test cases passed!

**Aufgabe 4:** Speichern Sie die Zeichenkette "Jane Doe Junior" in der Variable `person_name_2`.

In [17]:
person_name = "Jane Doe Junior"
person_name

'Jane Doe Junior'

In [18]:
grader.check("q4")

q4 results: All test cases passed!

**Aufgabe 5:** Wie viele Zeichen hat die Zeichenkette in der Variable `person_name`? Speichern Sie das Ergebnis in der Variable `name_length`. Benutzen Sie dazu die Funktion `len()`. Als Beispiel: `len("Hallo")` gibt 5 zurÃ¼ck.

In [19]:
name_length = len(person_name)

**Aufgabe 6**: Erstellen Sie eine Liste mit den Zahlen 112.3, 302.7, 400.0, und 100.23. Speichern Sie diese
in einer Variable `gas_bills_usd`.

**Hinweis**: Eine Liste kÃ¶nnen Sie mit eckigen Klammern `[]` erstellen, y.B. `my_list = [1, 2, 3]`.

Erstellen Sie dann eine leere Liste `gas_bills_eur` und fÃ¼gen Sie die Werte aus 
`gas_bills_usd` in Euro umgerechnet hinzu. Der Umrechnungskurs sei 0.85 USD fÃ¼r 1 EUR.

**Hinweis**: Sie kÃ¶nnen Werte zu einer Liste mit der Methode `append` hinzufÃ¼gen, y.B. `my_list.append(4)`.

```python
empty_list = []
for element in another_list:
    empty_list.append(element)
```

In [20]:
gas_bills_usd = [112.3, 302.7, 400.0, 100.23]

gas_bills_eur = []

for bill in gas_bills_usd:
    gas_bills_eur.append((1 / 0.85) * bill)

gas_bills_eur

[132.11764705882354, 356.11764705882354, 470.5882352941177, 117.91764705882353]

**Aufgabe 7**: In dieser Aufgabe bearbeiten Sie eine Liste von Nutzungszeiten von Cloud-Computing-Ressourcen. Die Liste `usage` enthÃ¤lt die Nutzungszeiten in Minuten. Wir mÃ¶chten die Nutzungszeiten, die Ã¼ber ein Limit von 50 Stunden hinausgehen in einer neuen Liste `usage_limit_exceeded` speichern. Benutzen Sie dazu eine List-Komprehension. In dem Beispiel unten wird die Liste `list2` aus den Elementen von `list1` erstellt, die grÃ¶ÃŸer als 2 sind.

```python
list1 = [1, 2, 5, 2]
list2 = [element for element in list1 if element > 2]
```

In [22]:
usage = [4839, 2394, 5839, 2394, 802, 904]
usage_limit_exceeded = [minutes for minutes in usage if minutes > 50 * 60]
usage_limit_exceeded

[4839, 5839]

In [23]:
grader.check("q7")

q7 results: All test cases passed!

**Aufgabe 8**: In dieser Aufgabe bearbeiten wir eine Liste von Ãœberlebenszeiten von elektrischen GlÃ¼hbirnen. Die Liste `bulb_survival` enthÃ¤lt die Ãœberlebenszeiten in 1000 Stunden. Wir haben festgestellt, daÃŸ die gemessenen Zeiten die tatsÃ¤chlichen Ãœberlebenszeiten um 10% Ã¼berschÃ¤tzen. Erstellen Sie eine neue Liste `bulb_survival_corrected` mit den korrigierten Ãœberlebenszeiten. Benutzen Sie dazu eine List-Komprehension.

In [24]:
bulb_survival = [25.2, 30.1, 35.2, 40.3, 45.2]
bulb_survival_corrected = [survival * 0.9 for survival in bulb_survival]

In [25]:
grader.check("q8")

q8 results: All test cases passed!

**Aufgabe 9**: In dieser Aufgabe bearbeiten wir wieder eine Liste von Ãœberlebenszeiten von elektrischen GlÃ¼hbirnen. Die Liste `bulb_survival1` enthÃ¤lt die Ãœberlebenszeiten in 1000 Stunden. Wir haben festgestellt, dass die tatsÃ¤chliche Messung
fÃ¼r die zweite GlÃ¼hbirne war fehlerhaft war. Die tatsÃ¤chliche Ãœberlebenszeit war 1200 Stunden. Ã„ndern Sie die Liste `bulb_survival1` so, dass die zweite Ãœberlebenszeit korrigiert wird.

**Hinweis**: Sie kÃ¶nnen den Wert eines Elements in einer Liste mit `my_list[index]` Ã¤ndern.

In der Liste list1 unten wird das erste Element auf 100 gesetzt:

```python
list1 = [1, 2, 5, 2]
list1[0] = 100
```

In [26]:

bulb_survival1 = [25.2, 30.1, 35.2, 40.3, 45.2]
bulb_survival1[1] = 1.2
bulb_survival1

[25.2, 1.2, 35.2, 40.3, 45.2]

**Aufgabe 10**: In dieser Aufgabe haben aus unserer Kundendatenbank die Daten einer Person heruntergeladen und in einer Dictionary `best_customer` mit SchlÃ¼sseln
 `name`, `age`, `city`, und `total_purchases` gespeichert. Wir mÃ¶chten eine Nachricht an den Kunden senden, in der wir den Namen des Kunden und den Umsatz erwÃ¤hnen. Erstellen Sie eine Zeichenkette `msg` mit der Nachricht. Benutzen Sie dazu die Werte aus dem Dictionary `best_customer`.

**Hinweis**: Sie kÃ¶nnen auf die Werte eines Dictionarys mit `my_dict[key]` zugreifen.

```python
my_dict = {"name": "John", "age": 30}
print(my_dict["name"]) # gibt "John" aus
```

**Hinweis**: In der formattierten Zeichenkette kÃ¶nnen Sie Werte mit `{}` einfÃ¼gen. 

```python
name = "John"
age = 30
msg = f"Name: {name}, Age: {age}"
print(msg) # gibt "Name: John, Age: 30" aus
```

**Hinweis**: In der formattierten Zeichenkette kÃ¶nnen Sie auch auf die Werte eines Dictionarys zugreifen.

```python
my_dict = {"name": "John", "age": 30}
msg = f"Name: {my_dict['name']}, Age: {my_dict['age']}"
print(msg) # gibt "Name: John, Age: 30" aus
```

Achten Sie darauf, dass die AnfÃ¼hrungszeichen in der formattierten Zeichenkette korrekt gesetzt sind: benutzen Sie `'`, um die SchlÃ¼ssel des Dictionarys zu umschlieÃŸen, und `"` fÃ¼r die formattierte Zeichenkette.

In [28]:
best_customer = {
    "name": "Phillip Jones",
    "age": 35,
    "total_purchases": 30010.5
}
msg = f"Dear {best_customer['name']}, your total purchases amount to {best_customer['total_purchases']} EUR."
msg

'Dear Phillip Jones, your total purchases amount to 30010.5 EUR.'

In [29]:
grader.check("q10")

q10 results: All test cases passed!

**Aufgabe 11**: Erstellen Sie ein Dictionary `customer` mit den SchlÃ¼sseln `first_name`, `last_name`, `city`, `session_durations` und den Werten "Jane".  "Doe", 30, "New York", [2.4, 8.1, 2.2]. Under `session_durations` haben wir die Dauer der letzten drei Sitzungen (z.B. Softwarenutzung) in Stunden gespeichert.

Setzen Sie die Dauer der letzten Sitzung auf 0 Stunden.

**Hinweis**: Sie kÃ¶nnen den Wert eines Elements in einer Liste mit `my_list[index]` Ã¤ndern.

In der Liste list1 unten wird das erste Element auf 100 gesetzt:

```python
list1 = [1, 2, 5, 2]
# Wird das erste Element auf 100 setzen
list1[0] = 100
```

Falls die Liste unter einem SchlÃ¼ssel in einem Dictionary gespeichert ist, kÃ¶nnen Sie auf die Liste mit `my_dict[key]` zugreifen.

```python
my_dict = {"name": "John", "age": 30, "some_list": [1, 2, 8]}
# Wird das erste Element der Liste auf 0 setzen
my_dict["some_list"][0] = 0
```

In [30]:
customer = {
    "first_name": "Jane",
    "last_name": "Doe",
    "city": 'New York',
    "session_durations": [2.4, 8.1, 2.2]
}

customer["session_durations"][-1] = 0
customer

{'first_name': 'Jane',
 'last_name': 'Doe',
 'city': 'New York',
 'session_durations': [2.4, 8.1, 0]}

**Aufgabe 12**: In dieser Aufgabe werden wir eine Liste aus Dictionarys bearbeiten. Wir kÃ¶nnen uns vorstellen, dass diese Liste aus einer Datenbankabfrage stammt. Jedes Dictionary in der Liste enthÃ¤lt die Daten eines Kunden. Wir mÃ¶chten nun eine Schleife verwenden, um eine Liste `customer_names_new_york` mit den Namen der Kunden zu erstellen, die in New York leben.

In [32]:
customers = [
    {"name": "John", "age": 30, "city": "New York"},
    {"name": "Jane", "age": 25, "city": "Los Angeles"},
    {"name": "Tom", "age": 35, "city": "Chicago"},
    {"name": "Tim", "age": 40, "city": "Houston"},
    {"name": "Angelina", "age": 45, "city": "Phoenix"},
    {"name": "Tina", "age": 45, "city": "New York"}
]

customers_names_new_york = []

for customer in customers:
    if customer["city"] == "New York":
        customers_names_new_york.append(customer["name"])

In [33]:
grader.check("q12")

q12 results: All test cases passed!

**Aufgabe 13**: In dieser Aufgabe werden wir eine Liste aus Listen bearbeiten. Der Sinn der Aufgabe ist es, Ihnen zu zeigen, wie Variablen in Python funktionieren. Die Liste besteht aus drei anderen Listen. Wir mÃ¶chten nun die erste Liste einer Variablen `first_list` zuweisen. Danach Ã¤ndern wir das erste Element von `first_list` auf 100. Was passiert mit der ursprÃ¼nglichen Liste `list_of_lists`?

In [34]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
first_list = list_of_lists[0]
first_list[0] = 100

list_of_lists

[[100, 2, 3], [4, 5, 6], [7, 8, 9]]

**Aufgabe 13a**: Im folgenden Code wird eine Liste `accounts` mit den Werten 33 und 80 definiert. Weisen Sie diese zwei Werte den Variablen `account1` und `account2` zu, indem Sie die Werte aus der Liste `accounts` entpacken.

```python
ids = [1, 2, 3]
id1, id2, id3 = ids
```

In [35]:
accounts = [33, 80]
account1, account2 = accounts

In [36]:
grader.check("q13a")

q13a results: All test cases passed!

### Tupel

Bisher haben wir Listen verwendet, um eine Sammlung von Elementen zu speichern. Eine Liste ist verÃ¤nderbar, d.h. wir kÃ¶nnen die Elemente der Liste verÃ¤ndern. Ein Tupel ist eine Sammlung von Elementen, die nicht verÃ¤nderbar ist. Ein Tupel wird mit runden Klammern `()` erstellt.

In [37]:
my_list = [1, 4]
my_tuple = (1, 4)

my_list[0] = 100
my_list
# my_tuple[0] = 100

[100, 4]

## Funktionen

In allen Programmiersprachen sind Funktionen ein wichtiges Konzept. Funktionen sind ein Weg, um Code zu organisieren und zu strukturieren.

Als Beispiel betrachten wir die Funktion `add_numbers`. Diese Funktion nimmt zwei Argumente `a` und `b` und gibt die Summe der beiden Argumente zurÃ¼ck.

```python
def add_numbers(a, b):
    return a + b
```

Um eine Funktion zu definieren, benutzen wir das SchlÃ¼sselwort `def`, gefolgt von dem *Namen* der Funktion und den Argumenten in Klammern. Der FunktionskÃ¶rper ist eingerÃ¼ckt. Die Funktion gibt das Ergebnis mit dem SchlÃ¼sselwort `return` zurÃ¼ck.

Um die Funktion aufzurufen, benutzen wir den Namen der Funktion gefolgt von den Argumenten in Klammern.

```python
result = add_numbers(3, 5)
print(result) # gibt 8 aus
```

In [14]:
def add_numbers(a, b):
    return a + b

y = add_numbers(2, 5)
y

7

**Aufgabe 14**: Erstellen Sie eine Funktion `calculate_mean` die den Mittelwert von zwei Zahlen berechnet. Die Funktion soll zwei Argumente `a` und `b` haben und den Mittelwert der beiden Argumente zurÃ¼ckgeben.

Der Mittelwert von zwei Zahlen ist die Summe der beiden Zahlen geteilt durch 2.
$$
\text{mean} = \frac{a + b}{2}
$$

In [38]:
def calculate_mean(a, b):
    print("a = ", a)
    print("b = ", b)
    
    return (a + b) / 2

print(calculate_mean(2, 5))

a =  2
b =  5
3.5

**Aufgabe 15**: In der vorherigen Aufgabe haben wir die Funktion `calculate_mean` erstellt. In dieser Aufgabe mÃ¶chten wir die Funktion erweitern, so dass sie den Mittelwert von beliebig vielen Zahlen berechnen kann. Die Funktion soll eine Liste von Zahlen als Argument nehmen und den Mittelwert der Zahlen zurÃ¼ckgeben. Benutzen Sie dazu die Funktion `sum` und die Funktion `len`.

In [40]:
def calculate_mean_list(x):
    return sum(x) / len(x)

calculate_mean_list(
    [1, 2, 3, 4, 5, 123123123]
)

20520523.0

In [42]:
grader.check("q15")

q15 results: All test cases passed!

**Aufgabe 16**: In dieser Aufgabe mÃ¶chten wir eine Funktion `average_word_length` definieren. Die Funktion soll eine Zeichenkette als Argument nehmen und die durchschnittliche LÃ¤nge der WÃ¶rter in der Zeichenkette zurÃ¼ckgeben. Wir werden annehmen, dass WÃ¶rter durch Leerzeichen getrennt sind. Benutzen Sie dazu die Methode `split` und die Funktion `len`.

**Hinweis**: Die Methode `split` gibt eine Liste aus Zeichenketten, die durch Trennzeichen getrennt sind, zurÃ¼ck.

```python
my_string = "Hello World"
words = my_string.split(" ")
print(words) # gibt ["Hello", "World"] aus
```

In [44]:
def average_word_length(sentence):
    words = sentence.split(" ")
    word_lengths = [len(word) for word in words]
    
    return calculate_mean_list(word_lengths)

In [45]:
average_word_length("Hello World") == 5

True

In [46]:
average_word_length("Hi everybody") == (9 + 2) / 2

True

## Klassen und Objekte

In [2]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def say_hi(self):
        return f"Hello, my name is {self.name} and I am {self.age} years old."
    
    def get_older(self):
        self.age += 1
    
    def get_older_by(self, years):
        self.age += years

In [5]:
some_guy = Person(name="John", age=30)

some_guy.say_hi()

'Hello, my name is John and I am 30 years old.'

In [6]:
some_guy.get_older()
some_guy.say_hi()

'Hello, my name is John and I am 31 years old.'

**Aufgabe 17** Definieren Sie eine Klasse, die einen Kunden eines Unternehmens reprÃ¤sentiert. Der Kunde hat die folgenden Eigenschaften: Name und eine Liste der einzelnen UmsÃ¤tze und die Summe dieser UmsÃ¤tze. Erstellen Sie eine Methode `add_purchase`, die einen Umsatz hinzufÃ¼gt und die Summe der UmsÃ¤tze aktualisiert.

In [ ]:
class Customer:
    def __init__(....):
        self.name = ...
        self.purchases = ...
        self.total_purchases = ...
    
    def add_purchase(self, purchase):
        ...

Erstellen Sie ein Objekt dieser mit dem Namen "Peter", eine Liste von UmsÃ¤tzen [100, 200, 300]. Der Kunde macht einen neuen Umsatz von 50. Benutzen Sie die Methode `add_purchase`, um den Umsatz hinzuzufÃ¼gen.